image: debian:jessie

variables:
  FACTER_env: gitlab
  FACTER_fqdn: faalserver.faalkaart.dev

before_script:
  # install provision and test dependencies
  - apt-get update -yqq
  - apt-get install -yqq make ruby git netcat build-essential libssl-dev
  - gem install librarian-puppet
  # build and install sslscan
  - wget https://github.com/rbsec/sslscan/archive/1.11.0-rbsec.tar.gz
  - tar zxf 1.11.0-rbsec.tar.gz
  - pushd sslscan-1.11.0-rbsec/
  - make sslscan
  - install sslscan /usr/local/bin/
  - popd
  # bootstrap provisioning
  - scripts/bootstrap.sh
  - make Puppetfile.lock

stages:
  - check
  - provision

check:
  stage: check
  before_script:
    # install check requirements
    - apt-get update -yqq
    - apt-get install -yqq make puppet-lint shellcheck
  script:
    - make check

provision:
  stage: provision
  script:
    # provision with puppet
    - scripts/apply.sh
    # test
    - scripts/test.sh
    # save content for artifact
    - curl -sSk https://localhost -H host:faalkaart.nl > index.html
    - curl -sSkI https://localhost -H host:faalkaart.nl > response.txt
  artifacts:
    paths:
      - Puppetfile.lock
      - index.html
      - response.txt
